.user {
    font-family: 'Rubik One', sans-serif;
    font-size: 25px;
    font-family: 'Rubik One', sans-serif;
    background: 20px linear-gradient(to bottom, red, rgb(251, 255, 0), blue, green, coral);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: table;
    /* margin: 20px auto; */
    margin-left: -10px;
    padding-top: 30px;
    font-weight: bold;
}